@import 'https://fonts.googleapis.com/css?family=Roboto';

<meta name="viewport" content="width=device-width, initial-scale=1.0">

* {
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#nav-bar {
display: inline-flex;
position:fixed;
}


body {
  background-color: tan;
  color: black;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}



.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#header {
position: fixed;
  top: 0;
  padding: 0px, 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: grey;
  align-items: center;
  flex-wrap: wrap;
  font-family: Roboto;
  color: black;}